<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
  </head>
  <body>
<!-- keep inline markdown left-aligned, so it formats correctly -->
    <div class="row">
      <h1>{{title}}</h1>
      <h2>{{ext}}</h2>
      {% body %}
    </div>
   
  

  <div class="navi">
    {{#each navigation.main.items }}
      Row <a href="{{{url}}}">{{{title}}}</a>
    {{/each}}
  </div>
  
  <div class="get">
    {{get data}}
  </div>

    <div class="footer">
      <div class="row">
        <p>Footer content goes here.</p>
      </div>
    </div>
  </body>
</html>